<h1>{{ title }}</h1>
<main>
  <!-- <article><app-contador/></article>
  <article><app-botones></app-botones></article>
  <article><app-formulario></app-formulario></article>
  <article><app-bucles></app-bucles></article>
  <article><app-switch></app-switch></article>
  <article><app-formulario2></app-formulario2></article>
  <article><app-formulario3></app-formulario3></article>

  <input type="text" [(ngModel)]="title">
  <article><app-children [title]="title" (titleChange)="title = $event"></app-children></article> -->
  
  <h2>servicios</h2>
  <article><app-add-message></app-add-message></article>
  <article><app-list-message></app-list-message></article>
</main>
